[Unit]
Description=Set a Background Image with feh

[Service]
ExecStart=/run/current-system/sw/bin/feh --bg-fill %h/.local/share/background.jpg
Type=oneshot

[Install]
WantedBy=default.target
