[Unit]
Description=Polybar: Beautiful and Highly Customizable Status Bar

[Service]
Environment="PATH=/run/current-system/sw/bin/:"
ExecReload=kill -SIGUSR1 $MAINPID
ExecStart=%h/.local/bin/my-polybar
Restart=always
Type=simple

[Install]
WantedBy=graphical-session.target
