[init]
    defaultBranch = master
[pull]
    rebase = false
[user]
    email = erhlee.bird@gmail.com
    name = Eric Lee
[alias]
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
[branch]
	sort = -committerdate
