[init]
    defaultBranch = main
[pull]
    rebase = false
[push]
    autoSetupRemote = true
[user]
    email = erhlee.bird@gmail.com
    name = Eric Lee
[alias]
    br = !git branch --format=\"%(HEAD) %(color:green)%(committerdate:relative)%(color:reset) %(refname:short) +%(ahead-behind:$REVIEW_BASE)\"
    gone = !git branch -vv | grep ': gone]' | awk '{print $1}'
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
[branch]
    sort = -committerdate
[credential "https://github.com"]
    helper = !/usr/bin/env gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/usr/bin/env gh auth git-credential
