Xcursor.theme: Adwaita
Xcursor.size: 64

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

XTerm*renderFont: true
XTerm*faceName: Source Code Pro
XTerm*faceSize: 14

