.#*
abbrev_defs
async-bytecomp.log
auto-save-list
bookmarks
.cache
custom.el
*.eln
elpa
eshell
ido.last
.last-package-update-day
.lsp-session-v1
network-security.data
org
.org-id-locations
projectile-bookmarks.eld
projectile.cache
.python-environments
recentf
saves
straight
tramp
transient
undo
*.~undo-tree~
url/cookies
var/pcache/*
