.lsp-session-v1
.org-id-locations
.python-environments
abbrev_defs
async-bytecomp.log
auto-save-list
bookmarks
custom.el
elpa
eshell
ido.last
network-security.data
org
projectile-bookmarks.eld
projectile.cache
recentf
saves
tramp
transient
undo
